.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
}

.modal-show {
  opacity: 1;
  pointer-events: visible;
}

.modal-close {
  opacity: 0;
  visibility: hidden;
  filter: blur(8px);
  transform: scale(0.33);
  box-shadow: 1rem 0 0 rgba(0, 0, 0, 0.2);
}

.modal-content {
  width: 500px;
  background-color: #fff;
}

.modal-header {
  padding: 10px;
}

.modal-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}
.footer-submit {
  padding: 10px;
  display: grid;
  float: left;
}

.footer-close {
  padding: 10px;
  display: grid;
  float: right;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.submit-btn {
  background-color: #4caf50; 
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.close-btn {
  background-color: red;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}
